{% extends 'base.html' %}

{% block header %}
{% block title %}Transcripts Search{% endblock %}
{% endblock %}

{% block content %}
{% if segments %}
<table>
  <tr>
    <th>Show</th>
    <th>Episode</th>
    <th>Timestamp</th>
    <th>Text</th>
  </tr>
  {% for segment in segments %}
  <tr>
    <td>{{ segment['show'] }}</td>
    <td>{{ segment['episode'] }}</td>
    <td>{{ segment['timestamp'] }}</td>
    <td>{{ segment['text'] }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
No hits for search query
{% endif %}
{% endblock %}
