{% extends 'base.html' %}

{% block header %}
{% block title %}Transcribe an Episode{% endblock %}
{% endblock %}

{% block content %}
{% if shows %}
<form method="post" enctype=multipart/form-data>
  <label for="show">Show</label>
  <select name="show" id="show" required>
    {% for show in shows %}
    <option value="{{ show['name']}}">{{ show['name'] }}</option>
    {% endfor %}
  </select>
  <label for="episode">Episode Name</label>
  <input name="episode" id="episode" required>
  <input type="file" name="file" required />
  <input type="submit" value="Transcribe Episode">
</form>
Please note that this operation can take a while. Please wait for the message at top of screen after you click submit.
{% else %}
No shows in database. Please add some from home page of PodcastWhisperer.
{% endif %}
{% endblock %}
