{% extends 'base.html' %}

{% block header %}
{% block title %}Transcribe an Episode{% endblock %}
{% endblock %}

{% block content %}
{% if shows %}
<form method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="show" class="form-label">Show</label>
      <select name="show" id="show" required>
        {% for show in shows %}
        <option value="{{ show['name']}}">{{ show['name'] }}</option>
        {% endfor %}
      </select>
  </div>
  <div class="mb-3">
    <label for="episode" class="form-label">Episode Name</label>
    <input class="form-control" id="episode" name="episode" required>
  </div>
  <div class="mb-3">
    <label for="file" class="form-label">Audio File</label>
    <input class="form-control" type="file" id="file" name="file" required>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Transcribe</button>
  </div>
</form>
Please note that this operation can take a long time.
Please wait for the message at top of screen after you click submit.
Check PodcastWhisperer documentation on how to speed up transcription.
{% else %}
No shows in database to transcribe an episode for.
Please add some from home page of PodcastWhisperer.
{% endif %}
{% endblock %}
